@import "cities";
@import "stories";
@import "adventures";
@import "_host";
@import "gallery";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;      
}

body {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.stories a{
    color: #fff;
    text-decoration: none;

    .stories a:hover{
        color: #fff;
        text-decoration: none;
    }
}


h1 {
    display: inline-block;
    position: relative;
    z-index: 3;
    top: 300px;
    color: rgb(255, 255, 255);
    border-radius: 20px;
    left: 60px;
    text-transform: capitalize;    
}

h2 {
    text-transform: capitalize;
}
/*********************NAVEGACION***************************/

.nav_profile_pic {    
    position: relative;
    left: 30%;    
    width: 100px;


img{
    border-radius: 50px;
    width: 150%; 
  }
}
.dropdown-menu-style {
    list-style:none;

}

.nav-item-style {
    list-style: none;
}

.carousel-caption-size {
    font-size: 30px;
}


.nav-navbar--padding {
    margin-left: 25%;


    


.nav-navbar--padding li {
       
    padding: 0 30px;

}

.perfil {
    width: 50px;
    height: auto;
    border-radius: 50px;
}




main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;    
    font-family: 'Roboto', sans-serif;
}

footer {
        
    display:flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 100px;
    width: 100%;    
    background-color: rgb(216, 216, 216);
    font-size: 50px;
    height: 300px;
    
}


footer i {
    color: #000;
    padding: 0 20px;
}


}



