/***Seleccion de Aventuras****/

.adventures {
    
    width: 100%;
}

.adventures h2{
    text-align: center;
    font-size: 30px;
    margin-top: 30px;
   
}

.adventures p {
    text-align: center;
    padding-bottom: 40px;
}

.adventures_flex {
    display: flex;
    justify-content: space-evenly;
}

.adventures_flex img {
    width: 500px;
    padding: 30px 30px;
    border-radius: 40px;
}

.adventures_flex-item p{
    font-size: 24px;

}

.host {
    padding-top: 100px;
    width: 90%;
    position: relative;
    display: inline-block;
    text-align: center;       
}

.host  img {
    width: 70%;
}

    


.host p {
    position: absolute;
    font-size: 35px;
    top: 50%;
    left: 50%;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 1px rgb(153, 153, 153);    
}